.footerContainer{
  width: 100%;
  height: 359px;
  background: url('../assets/background-footer.png');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .footerContainerInner{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footerPoliticConfidentual{
      width: 30%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      color: rgba(255, 255, 255, 0.6);
      font-size: 12px;
      
      .politConf{
        height: 35%;
      }
      img{
        width: 100%;
      }
    }
    .footerNavigation{
      width: 30%;
      align-items: center;
      justify-content: space-around;
      color: rgba(255, 255, 255, 1);
      ul{
        height: 80%;
        font-weight: 300;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        li{
          cursor: pointer;
          font-size: 16px;
          position: relative;
        }:hover:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: white;
          bottom:0%;
          left: 0%;
        }
      }
    }
    .footerSocial{
      width: 30%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;      
      color: white;
      .footerPoliticConfidentualInnerSecond{
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        display: none;
        .politConf{
          height: 35%;
        }
        img{
          width: 100%;
        }
      }
      .searchBlock{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .searchCont{
          width: 233px;
          height: 33px;
          position: relative;
          display: flex;
          align-items: center;
          .footerSearchInput{
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0px;
            border:none; 
            outline:none;
            padding-left: 13px; 
            border-radius: 8px;
          }
          .footerSearchBtn{
            position: absolute;
            width: 33px;
            height: 105%; 
            right: 0%;
            top: -3%;
            display: flex;
            padding: 0px;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            background-color: rgba(255, 109, 0, 1);
            border: none;
            outline: none;
            img{
              object-fit: cover;
            }
          }
        }
      }
      .footerInfo{
        height: 50%;
        .footerInfoIconsBlock{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
        .footerInfoIconsBlock{
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width:1115px) {
  .footerContainer{
    .footerNavigation{
      display: none !important;
    }
    .footerPoliticConfidentual{
      width: 45% !important;
    }
    .footerSocial{
      width: 45% !important; 
    }
    .footerSearchBtn{
      top: -1% !important;
    }
  }
}
@media screen and (max-width:720px) {
  .footerInfo{
    font-size: 14px;
  }
}
@media screen and (max-width:630px) {
  .footerContainer{
    // height: 900px !important;
    .footerContainerInner{
      flex-direction: column;     
      .footerPoliticConfidentual{
        height: 10%;
        .footerInfo{
          font-size: 14px;
        }
        .footerPoliticConfidentualInner{
          display: none;
        }

      }
      .footerSocial{
        align-items: center;
        justify-content: center; 
        width: 80% !important;
        .searchBlock{
          height: 20%;
        }
        .footerInfo{
          height: 20%;
        }
        .footerSearchBtn{
          top: -3% !important;
        }
      }
    }
  }
  .footerPoliticConfidentualInnerSecond{
    display: inline !important; 
  }
}
